*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Main Styling*/

html, body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8;
}

a{
    color: #333;
    text-decoration: none;
}

h1.h2,h3{
    padding-bottom: 20px;
}

p{
    margin: 10px 0;
    padding-top: 35px;
}

/* utility classes*/
.container{
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px ;
}

.text-primary{
    color: #4d1808;
}

.lead{
    font-size: 20px;
}

.btn{
    display: inline-block;
    font-size: 18px;
    color: rgb(255, 255, 255);    ;
    background: #9d350d;
    padding: 13px 20px ;
    border: none;
    cursor: pointer;
}

.btn:hover{
    background: #bf6c25;
    color: #fff;
}

.btn-light{
    background: #f4f4f4;
    color: #333;
}

.bg-dark{
    background: #826244;
    color: #fff;
}

.bg-light{
    background: #333;
    color:#fff 
}

.bg-primary{
    background: #333;
    color: #4d1808;

}

/*Nav bar*/

#nav-bar{
    background-color: #333;
    color: #fff;
    overflow: auto;
}

#nav-bar a{
    color: #fff;
}

#nav-bar h1{
    float: left;
    padding-top: 20px;
}

#nav-bar ul{
    list-style: none;
    float: right;
}

#nav-bar ul li {
    float: left;

}
#nav-bar ul li a{
    display: block;
    padding: 20px;
    text-align: center;
}

#nav-bar ul li a:hover, #nav-bar ul li a.current{
    background: #333;
    color: #f7c08a;
}


/*showcase*/
#showcase{
    background: url(../images/pexels-julianesanchezfotografia-19873101.jpg) no-repeat center center/cover;
    height: 700px;
    background-position: cover no-repeat;
}

#showcase .showcase-content{
    color: #fff;
    text-align: center;
    padding-top: 170px;

}

#showcase .showcase-content h1{
    font-size: 60px;
    line-height: 1.2rem;
}

#showcase .showcase-content p{
    padding-bottom: 20px;
    line-height: 1.5em;
}

/*Home Info*/
#home-info{
    height: 400px;
}

#home-info .info-img{
    float: left;
    width: 50%;
    background: url(../images/pexels-cottonbro-4753996.jpg) no-repeat;
    background-size: cover;
    background-position: left center;
    min-height: 100%;
    
}

#home-info .info-content{
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px ;
    overflow: hidden;
}

#home-info .info-content p{
    padding-bottom: 30px;

}

