*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Main Styling*/

html, body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8;
}

a{
    color: #333;
    text-decoration: none;
}

h1.h2,h3{
    padding-bottom: 20px;
}

p{
    margin: 10px 0;
    padding-top: 35px;
}

/* utility classes*/
.container{
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px ;
}

.text-primary{
    color: #4d1808;
}

/*Nav bar*/

#nav-bar{
    background-color: #333;
    color: #fff;
    overflow: auto;
}

#nav-bar a{
    color: #fff;
}

#nav-bar h1{
    float: left;
    padding-top: 20px;
}

#nav-bar ul{
    list-style: none;
    float: right;
}

#nav-bar ul li {
    float: left;

}
#nav-bar ul li a{
    display: block;
    padding: 20px;
    text-align: center;
}

#nav-bar ul li a:hover, #nav-bar ul li a.current{
    background: #333;
    color: #f7c08a;
}


/*showcase*/
#showcase{
    background: url(../images/pexels-julianesanchezfotografia-19873101.jpg) no-repeat center center/cover;
    height: 700px;
}

#showcase .showcase-content{
    color: #fff;
    text-align: center;
    padding-top: 170px;

}

#showcase .showcase-content h1{
    font-size: 60px;
    line-height: 1.2rem;
}


